<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/app.css">
    <title>Document</title>
</head>
<body>
    <nav class="mainNav">
        <h1 class="mainHeader">Meal View</h1>
    </nav>
    
    <p class="mealViewDisclaimer">Example of meal view template - all meal anchor tags link here</p>
    <div class="mealViewMainWrapper">

        <div class="mealViewHeader">
            <h2>Bacon and Eggs - Breakfast</h2>
        </div>

        <div class="mealViewImageWrapper">
            <img class="mealViewImage" src="../images/Bacon_&_Eggs.jpg" alt="">
        </div>

        <div class="mealViewInfoWrapper">
            <h3>Nutrition Facts</h3>
            <p class="mealViewCalories">Calories: 484</p>
            <div class="mealViewMacroWrapper">
                <span>Fat: 38.2g</span>
                <span>Carbs: 2.2g</span>
                <span>Protein: 29.7g</span>
            </div>

        </div>

        <div class="mealViewIngredientWrapper">
            <h3>Ingredient List</h3>
            <ul class="mealViewIngredientList">
                <li>3 large eggs</li>
                <li>1 tablespoon of butter</li>
                <li>4 slices of bacon</li>
                <li>1/4 teaspoon of salt</li>
                <li>1/4 teaspoon of pepper</li>
            </ul>
        </div>

        <div class="mealViewRecipeWrapper">
            <h3>Recipe</h3>
            <ol class="mealViewRecipe">
                <li>heat skillet on med-high heat</li>
                <li>crack eggs in bowl; add salt and pepper and scramble.</li>
                <li>add eggs and butter to skillet; stir periodically.</li>
                <li>once the eggs start to coagulate, lower heat and cover.</li>
                <li>place bacon slices on paper towel; microwave 40 seconds.</li>
                <li>once eggs are cooked, serve on warm plate.</li>
            </ol>
        </div>
    </div>

    <footer class="mainMenuFooter">
        <a href="../index.html">Return to Main Menu</a>
    </footer>

</body>
</html>